/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width:85%;
    margin:20px 0px 18px 257px;
    padding: 0px 323px 36px 36px;
}

header nav button {
    background-color: white;
    border: none;
}
/*.boxes {
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5%;
    height: 100px;}*/
    
    .boxes #box1{
        background-color: teal;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
    }
    
    .boxes #box2 {
        background-color: gold;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
    }
    
    .boxes #box3 {
    background-color: cadetblue ;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 12.5%;
    height: 100px;
    }
    
    .boxes #box4 {
        background-color :coral ;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box5 {
        background-color: crimson;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box6 {
        background-color: forestgreen;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box7 {
        background-color: darkorchid;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box8 {
        background-color: hotpink;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box9 {
        background-color: indigo;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;
        }
    
    .boxes #box10 {
        background-color: dodgerblue;
        margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;

         }

.big-picture2 {
    display: flex;
    padding:0px 0px 23px 357px;
}

    

#column {
 /*   display: flex;
   align-content: center;
    flex-direction: center;
    justify-content: space-evenly;
    max-width: auto;
    flex-flow: wrap;*/

    position: relative;
    column-count: 2;
    column-fill: balance;
    padding-top: 30px;
    column-span: all;  
}

.about {
    border-bottom: 2px dotted black;
    padding-bottom: 20px;
}

    .strategy {

        padding-bottom: 18px;
        padding-top: 18px;
        border-bottom: 2px dotted black
    }

   

    .how {
        padding-bottom: 18px;
        padding-top: 18px;
        border-bottom: 2px dotted black
    }

.places {
    padding-bottom: 18px;
        padding-top: 18px; 
        border-bottom: 2px dotted black   
}

.collaboration {
    padding-bottom: 18px;
    padding-top: 18px; 
    border-bottom: 2px dotted black  
}

.together {
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.learnmore {
    border-radius: 4px;
    border:2px solid black;
    background-color: white;
    width: 100px;
    color: black;
}



/*1. If you were to describe semantic HTML to the next cohort of students, what would you say?

It gives meaning to your page. Like section, address, p,

2. Name two big differences between ```display: block;``` and ```display: inline;```.

display:block; is and entire block and gives you breaks and spaces in between elements. display:inline; displays inside the block and doesn't have any breaks between elements. 

3. What are the 4 areas of the box model?

Margin, Padding, Border, Content

4. While using flexbox, what axis does the following property work on: ```align-items: center```?

It works on the Y axis

5. Explain why git is valuable to a team of developers.

git allows several people to work on one project at the same time on different branches. It also allows you to go back to a file that was saved earlier.

*/
